[Unit]
Description=secretsfs mounts a simple access secret store
Documentation=https://secretsfs.readthedocs.io/en/docs/
After=network-online.target

[Service]
User=root
Group=root
ExecStart=/usr/local/bin/secretsfs /secrets -o allow_other -foreground
ExecStop=/usr/bin/umount /secrets
Restart=on-failure
