# https://goreleaser.com/ci/
language: go

go:
  - "1.15.x"

addons:
  apt:
    packages:
    - rpm

env:
  matrix:
    - OS_TYPE=centos OS_VERSION=8

deploy:
  - provider: script
    skip_cleanup: true
    script: curl -sL https://git.io/goreleaser | bash
    on:
      tags: true
      condition: $TRAVIS_OS_NAME = linux
